<nz-layout class="app-layout">
  <nz-header>
    <div class="app-header">
        <div class="logo-container">
          <img src="assets/fish.JPG" alt="Logo">
        </div>
      <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
        <span class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></span>
      </span>
      <ul nz-menu nzTheme="dark" nzMode="horizontal" class="app-menu">
        <li nz-menu-item nzMatchRouter>
          <a routerLink="/home">Home</a>
        </li>
        <li nz-menu-item nzMatchRouter>
          <a>About</a>
        </li>
        <li nz-menu-item nzMatchRouter>
          <a>contact us</a>
        </li>
       
      </ul>
    </div>
  </nz-header>
  <nz-content>
    <div class="inner-content">
      <router-outlet></router-outlet>
    </div>
  </nz-content>
</nz-layout>